{% include 'header.html' %}
<div class="row">
  <div class="col-md-3">
    <h4>Start Chatting With:</h4>
    <input
      type="text"
      class="form-control"
      placeholder="Enter username..."
      id="chat-with"
      list="usernames"
    />
    <br />
    <div class="list-group" id="group-list"></div>
  </div>
  <div class="col-md-9" id="chat-room-message">
    <br />
    <div class="alert alert-primary">No group selected.</div>
  </div>
  <div class="col-md-9" id="chat-room-wrap" style="display: none;">
    <br />
    <div class="row">
      <div class="col-md-9">
        <div
          style="
            border: 1px solid #eee;
            padding: 8px;
            height: 400px;
            overflow-y: scroll;
          "
          id="chat-room"
        >
        </div>
        <br />
        <input
          type="text"
          class="form-control"
          placeholder="Enter message..."
          id="message"
          autofocus=""
        />
      </div>
      <div class="col-md-3">
        <h4>Users:</h4>
        <ul class="list-unstyled" id="user-list"></ul>
        <label for="invite" class="form-label">
          <strong>Invite User:</strong>
        </label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter username..."
          id="invite"
          list="usernames"
        />
        <br />
        <button class="btn btn-danger" id="leave-group">Leave Group</button>
      </div>
    </div>
  </div>
</div>
<datalist id="usernames">
  {% for username in usernames %}
  <option value="{{ username }}" />
  {% endfor %}
</datalist>
<script>window.BANK_USER_ID = {{ user["id"] }};</script>
{% include 'footer.html' %}
