{% include 'header.html' %}
<div class="row">
  <div class="col-md-3">
    <h4>Start Chatting With:</h4>
    <input
      type="text"
      class="form-control"
      placeholder="Enter username..."
    />
    <br />
    <div class="list-group" id="group-list">
      <a href="#group-1" class="list-group-item list-group-item-action"
        >👤 test</a
      >
      <a href="#group-1" class="list-group-item list-group-item-action"
        >👥 test, test2</a
      >
    </div>
  </div>
  <div class="col-md-9">
    {% if false %}
    <div class="alert alert-primary">No group selected.</div>
    {% else %}
    <br />
    <div class="row">
      <div class="col-md-9">
        <div
          style="
            border: 1px solid #eee;
            padding: 8px;
            height: 400px;
            overflow-y: scroll;
          "
          id="chat-room"
        >
        </div>
        <br />
        <input
          type="text"
          class="form-control"
          placeholder="Enter message..."
          id="message"
        />
      </div>
      <div class="col-md-3">
        <h4>Users:</h4>
        <ul class="list-unstyled" id="user-list"></ul>
        <label for="invite" class="form-label">Invite User:</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter username..."
          id="invite"
        />
        <br />
        <button class="btn btn-danger">Leave Room</button>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% include 'footer.html' %}
