    </div>
    {% if user %}
    <br />
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-6">
          <iframe src="/signed-in" style="width:100%;"></iframe>
        </div>
      </div>
    </div>
    {% endif %}
    <footer class="container text-muted text-center">
      <hr />
      <small
        >&copy; 2021 Zorian Medwid
        <a href="mailto:misterhat144@gmail.com">
          &lt;misterhat144@gmail.com&gt;
        </a></small
      >
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="/static/app.js"></script>
  </body>
</html>
