<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Bank - {{ page }}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="navbar-brand" href="/">Bank</a>
          <li class="nav-item">
            <a class="nav-link" href="/withdraw">Withdraw</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/deposit">Deposit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/transfer">Transfer</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/chat">Chat</a></li>
        </ul>
        {% if user %}
        <span class="text-light" href="/login">
          Logged in as
          <a class="link-light" href="/"><em>{{ user.username }}</em></a>.
          <a class="link-light" href="/logout">Log out.</a>
        </span>
        {% else %}
        <a class="link-light" href="/login">Login</a>
        {% endif %}
      </div>
    </nav>
    <div class="container">
      <br />
