{% include 'header.html' %}
{% if activities|length == 0 %}
<div class="alert alert-info">No bank activity yet!</div>
{% else %}
<table class="table">
  <thead>
    <tr>
      <th scope="col" style="width: 45%;">Activity</th>
      <th scope="col" style="width: 15%;">Amount</th>
      <th scope="col" style="width: 15%;">Balance</th>
      <th scope="col" style="width: 15%;">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for activity in activities %}
    <tr>
      <td>{{ activity.type }}</td>
      <td>{{ activity.amount }}</td>
      <td>{{ activity.balance }}</td>
      <td>{{ activity.date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br />
{% endif %}
<p class="float-end"><strong>Current Balance:</strong> {{ balance }}</p>
<div class="clearfix"></div>
{% include 'footer.html' %}
